<%= form_tag(stocks_path) do |f|%>
  <ul>
    <div class="field">
      <li><%= label_tag :stocks, "Add Stocks" %><br />
	<%= text_area_tag :stocks %>
      </li>
    </div>
    <div class="action">
      <%= submit_tag "Add Stock" %>
    </div>
  </ul>
<% end %>  
